footer{
    background-color: var(--color-primary-2);
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 24px 8px;
}

#copyright{
    color: var(--color-neutral-9);
    font-weight: 500 ;
}

@media screen and (max-width: 600px){
    #footer_itens{
        flex-direction: column;
        gap: 20px;
    }
}